@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-height: 100%;
}

a,
.green {
  text-decoration: none;
  color: #fffdf6;
  transition: 0.4s;
}

a:hover {
  color: #FBC145;
}

.router-link-active {
  color: #FBC145;
}
